n8n-workflows/ai-ugc-2.json
{
  "name": "AI UGC 2",
  "nodes": [
    {
      "parameters": {
        "path": "a7e6db1e-e72b-471b-99cb-98d2a8fd6acd",
        "formTitle": "UGC Ad Generator",
        "formDescription": "Generates UGC Ad Videos from User Description and Product Photo",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Upload Image",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".jpg, .png, .jpeg",
              "requiredField": true
            },
            {
              "fieldLabel": "Image Description",
              "requiredField": true
            }
          ]
        },
        "options": {
          "ignoreBots": true
        }
      },
      "id": "5ccf2f68-be41-4e2c-8aa9-f4b2f1404dca",
      "name": "AI UGC Ad Generator",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        -464,
        -32
      ],
      "typeVersion": 2,
      "webhookId": "a7e6db1e-e72b-471b-99cb-98d2a8fd6acd"
    },
    {
      "parameters": {
        "inputDataFieldName": "Upload_Image",
        "name": "=Upload_Image",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1AbMTt-9zKUsix6mY_5vV9qRIqVVYE4qv",
          "mode": "list",
          "cachedResultName": "UGC Ad",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1AbMTt-9zKUsix6mY_5vV9qRIqVVYE4qv"
        },
        "options": {}
      },
      "id": "1a93c469-a594-4a01-9758-8e452216fe65",
      "name": "Upload to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        -224,
        -32
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "hdNv4010petmKP1q",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "Analyze the given image and determine if it primarily depicts a product or a character, or BOTH.\n\n- If the image is of a product, return the analysis in YAML format with the following fields:\n\nbrand_name: (Name of the brand shown in the image, if visible or inferable)\ncolor_scheme:\n  - hex: (Hex code of each prominent color used)\n    name: (Descriptive name of the color)\nfont_style: (Describe the font family or style used: serif/sans-serif, bold/thin, etc.)\nvisual_description: (A full sentence or two summarizing what is seen in the image, ignoring the background)\n\n- If the image is of a character, return the analysis in YAML format with the following fields:\n\ncharacter_name: (Name of the character if visible or inferable)\ncolor_scheme:\n  - hex: (Hex code of each prominent color used on the character)\n    name: (Descriptive name of the color)\noutfit_style: (Description of clothing style, accessories, or notable features)\nvisual_description: (A full sentence or two summarizing what the character looks like, ignoring the background)\n\nOnly return the YAML. Do not explain or add any other comments.\n\n- If it is BOTH, return both descriptions as guided above in YAML format\n\nProvide a detailed YAML analysis with the following fields:\n\nphysical_appearance:\n\n* gender: (male/female/other)\n* approximate_age: (estimated age range)\n* ethnicity: (observed ethnicity)\n* hair:\n\n  * style: (short, medium, long, bald, etc.)\n  * color: (color description)\n  * texture: (straight, wavy, curly, etc.)\n* facial_features:\n\n  * face_shape: (oval, round, square, etc.)\n  * skin_tone: (light, medium, tan, dark, etc.)\n  * notable_features: (beard, glasses, freckles, dimples, etc.)\n* body_type: (slim, athletic, average, etc.)\n\nexpression:\n\n* mood: (smiling, serious, confident, friendly, etc.)\n* eye_contact: (direct, looking away, etc.)\n\ncurrent_clothing:\n\n* description: (brief description of what they're wearing)\n\nkey_identifiers:\n\n* (list 3–5 unique features that make this person recognizable)\n\nOnly return the YAML. Do not explain or add any other comments.",
        "imageUrls": "={{ $json.webContentLink }}",
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -16,
        -32
      ],
      "id": "49489036-9796-4262-bda2-3cd934999236",
      "name": "Analyze Reference Photo",
      "credentials": {
        "openAiApi": {
          "id": "SEUoxkRNqO49ITxB",
          "name": "OpenAI Key"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a UGC-style video prompt from the product/reference image analysis and the user description.\n\nUser description:\n{{ $('AI UGC Ad Generator').item.json['Image Description'] }}\n\nDetailed analysis of the uploaded reference image (product details, colors, style — use this to describe the product ACCURATELY in the video scene):\n{{ $json['0'].content[0].text }}\n\nRules:\n- Combine the user description with the product analysis to create a realistic scene.\n- If the user description mentions a person (age, gender, ethnicity), include those EXACT details in the video prompt.\n- Describe the product faithfully using the visual details from the image analysis (color, material, shape, brand markings).\n- Keep the look casual and realistic; avoid studio language.\n- Return only a single JSON object with one key: video_prompt.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "ROLE: UGC Video Prompt Builder\n\nGoal\n- From a product/reference image analysis and user notes, write a natural UGC-style video prompt suited for Veo3 text-to-video generation with audio.\n\nCRITICAL — Faithfulness to Inputs\n- You will receive a detailed image analysis (product details, colors, materials, style). Describe the product EXACTLY as analyzed.\n- You will receive a user description that may specify: who the person is (age, gender, ethnicity), what they are doing, and the context. Follow these details EXACTLY.\n- If the user says \"35 year old middle eastern male\", the prompt MUST describe a 35-year-old middle eastern male. NEVER substitute a different person.\n- If the image shows a brown leather armchair with brass nailhead trim, describe that exact chair — not a generic couch.\n\nPrinciples (UGC look)\n- Phone-video vibe: handheld, slight motion, off-center framing, mixed indoor light, mild grain.\n- Real life over polish: small flaws, lived-in spaces, ambient sound.\n- The person should be talking naturally, as if recording a casual review or story for social media.\n- Keep any visible product text/branding accurate. Never invent claims, badges, or numbers.\n- Sound conversational, not ad-speak.\n\nOutput Contract\n- Return ONLY a single JSON object:\n  - \"video_prompt\": one plain paragraph (≤ 128 words) describing:\n    1. The person (exact demographics from user description + natural clothing/appearance)\n    2. What they're doing (talking, gesturing, interacting with the product)\n    3. The product (exact details from image analysis — material, color, shape, distinguishing features)\n    4. The setting (a realistic room/environment that fits the product)\n    5. Mood (casual, friendly, authentic)\n    6. 2-3 camera cues (handheld framing, natural light, mild grain, etc.)\n    7. Color notes\n\n- No code fences, no extra keys, no arrays, no headings.\n\nFraming guardrails:\n- Keep the subject fully inside frame at all times (no forehead or chin cutoffs).\n- Show both the person AND the product clearly in frame.\n- Maintain medium shot composition — waist up or wider to show the person with the product.\n\nGood Examples\n1)\n{\n\"video_prompt\": \"a 35-year-old middle eastern man with short dark hair and light stubble sits in a dark brown leather executive armchair with brass nailhead trim and padded arms, gesturing expressively as he talks about his new chair; he wears a casual olive crewneck and jeans; setting: warm living room with wooden bookshelves filled with books, potted plants on the windowsill, a mustard throw blanket draped over a nearby seat; mood: friendly and unscripted; camera: handheld framing, natural indoor light from a window, mild grain; color notes: rich brown leather, warm wood tones, green plants, golden lamp glow\"\n}\n\n2)\n{\n\"video_prompt\": \"a young woman in her late 20s holds up a matte black wireless speaker with a fabric-wrapped front and silver logo, turning it slightly to show the side ports; she sits cross-legged on a couch in a small apartment; mood: casual excitement; camera: handheld, off-center composition, soft daylight from a nearby window; color notes: black speaker against cream couch, warm neutral walls\"\n}\n\nBad Examples\nA) Changing the person's gender, age, or ethnicity from what the user specified.\nB) Describing a generic \"couch\" when the image analysis shows a specific leather executive armchair.\nC) Using studio language like \"luxurious\", \"premium\", \"masterpiece\"."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        208,
        -32
      ],
      "id": "e0317831-5ef7-4661-9675-e92e8b913da7",
      "name": "Video Prompt Generator"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        32,
        208
      ],
      "id": "4a551a18-e2a5-40da-9aee-d175ef4c1c85",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "SEUoxkRNqO49ITxB",
          "name": "OpenAI Key"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"video_prompt\": \"string\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        288,
        208
      ],
      "id": "05cddcbe-c1c3-4163-bd8e-eecd324415cc",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/veo3/fast",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.output.video_prompt }}\",\n  \"duration\": \"8s\",\n  \"aspect_ratio\": \"16:9\",\n  \"generate_audio\": true,\n  \"enhance_prompt\": false\n}",
        "options": {}
      },
      "id": "693fcc9f-cf17-429e-b630-35f398be2499",
      "name": "Submit Video Generation",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        448,
        -32
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "lLr87ncvQbQYxJWo",
          "name": "Fal API Key"
        }
      }
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        648,
        -32
      ],
      "id": "268d0203-9c59-4895-a4ca-78507ec39396",
      "name": "Wait for Video Generation",
      "webhookId": "7555271d-95af-49db-a9b5-859c393effef"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/veo3/fast/requests/{{ $('Submit Video Generation').item.json.request_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "36832d7d-774e-48cd-8476-67ceb23eaccf",
      "name": "Get Generated Video",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        848,
        -32
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "lLr87ncvQbQYxJWo",
          "name": "Fal API Key"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI UGC Ad Generator": {
      "main": [
        [
          {
            "node": "Upload to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Google Drive": {
      "main": [
        [
          {
            "node": "Analyze Reference Photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Reference Photo": {
      "main": [
        [
          {
            "node": "Video Prompt Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Video Prompt Generator",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Video Prompt Generator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Video Prompt Generator": {
      "main": [
        [
          {
            "node": "Submit Video Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit Video Generation": {
      "main": [
        [
          {
            "node": "Wait for Video Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Video Generation": {
      "main": [
        [
          {
            "node": "Get Generated Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "87152baf-8828-46c2-acd7-5be6a006293f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0c947dffc35567a468d491172c9cf5cc935d2c8cfa5de2264df8af7c8b1b6284"
  },
  "id": "8KMIxv2lgoz5i4sT",
  "tags": []
}
